body{
    text-align: center;
    font-family: 'Silkscreen', cursive;
    height: 100%;
    margin: 0;
    background: url(images/podcoverNEW.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: COVER;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 27, 0.75);
  }

.fa-brands{
    font-size: 48px;
    padding: 5px;
    color: #1b1b1b;
}

.fa-apple:hover{
    color: purple;
}

.fa-spotify:hover{
    color: purple;
}
.fa-youtube:hover{
    color: green;
}

.fa-instagram:hover{
    color: green;
}

.fa-x-twitter:hover{
    color: purple;
}

.fa-envelope:hover{
    color: green;
}

.fa-regular{
    font-size: 48px;
    padding: 5px;
    color: #1b1b1b;
}

h2{
    margin-bottom: -5px;
    margin-top: -5px;
    font-size: 20px;
 }
 

.wbackground{
    height: 510px;
    width: 400px;
    background: whitesmoke;

    border-radius: 25px;
    padding: 20px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    
}

h3{
    color: #1b1b1b;
    margin-bottom: 5px;
    font-style: italic;
}