body{
    background-color: #1b1b1b;
    text-align: center;
    font-family: 'Silkscreen', cursive;
}


.fa-brands{
    font-size: 48px;
    padding: 5px;
    color: #1b1b1b;
}

.fa-apple:hover{
    color: green;
}

.fa-spotify:hover{
    color: purple;
}
.fa-youtube:hover{
    color: green;
}
.fa-google:hover{
    color: purple;
}
.fa-amazon:hover{
    color: green;
}

.fa-instagram:hover{
    color: green;
}

.fa-x-twitter:hover{
    color: purple;
}

.fa-envelope:hover{
    color: green;
}

.fa-regular{
    font-size: 48px;
    padding: 5px;
    color: #1b1b1b;
}

h2{
    margin-bottom: -15px;
    margin-top: 15px;
    font-size: xx-large;
 }
 
 h4{
     padding-top: 10px;
     font-family: 'Varela Round', sans-serif;
 }
 

.wbackground{
    height: 600px;
    width: 400px;
    background: white;

    border-radius: 25px;
    padding: 20px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
    
}

h3{
    color: #1b1b1b;
    margin-bottom: 5px;
}
/*
.tooltip{
    position: relative;
}
.content1{
    width: 100px;
    background: #A45EE5;
    padding: 20px;
    position: absolute;
    top: -65%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.content2{
    width: 100px;
    background: #006400;
    padding: 20px;
    position: absolute;
    top: -65%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.content p{
    line-height: 1.4;
    font-family: 'Silkscreen', cursive;
}

.content1::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: #A45EE5;
    bottom: 0;
    left: 50%;
    transform: rotate(45deg) translateY(50%);
}

.content2::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: #006400;
    bottom: 0;
    left: 50%;
    transform: rotate(45deg) translateY(50%);
}

img:hover + .content1{
    visibility: visible;
    opacity: 1;
}

img:hover + .content2{
    visibility: visible;
    opacity: 1;
}

#containment{

}
*/